doctype html

html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    title Fair Classification Demo

    each css in htmlWebpackPlugin.files.css
      link(href=css, type="text/css" rel="stylesheet")
    
  body
    div(id="root")

    each chunk in htmlWebpackPlugin.files.chunks
      script(src=chunk.entry)
